<ion-header>
  <ion-toolbar>
    <ion-title><p text-center>List Produk Kartu</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

<ion-grid>
    <ion-row>
      <ion-col>
          <ion-img src="../../assets/img/listproduk/omenone.png"></ion-img>

      </ion-col>
      <ion-col>
          <ion-img src="../../assets/img/listproduk/omendestru.png"></ion-img>
      </ion-col>
    </ion-row> 
    <ion-row>
        <ion-col>
            <ion-img src="../../assets/img/listproduk/omensilen.png"></ion-img>
            
        </ion-col>
        <ion-col>
            <ion-img src="../../assets/img/listproduk/omenrepose.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-img src="../../assets/img/listproduk/omendisd.png"></ion-img>
              
          </ion-col>
          <ion-col>
              <ion-img src="../../assets/img/listproduk/omenunkilling.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-img src="../../assets/img/listproduk/omenlust.png"></ion-img>
                
            </ion-col>
            <ion-col>
                <ion-img src="../../assets/img/listproduk/omenusurp.png"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-img src="../../assets/img/listproduk/omentruth.png"></ion-img>
                  
              </ion-col>
              <ion-col>
                  <ion-img src="../../assets/img/listproduk/omencraving.png"></ion-img>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>