<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/list/SunandMoon.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Welcome to Our Store!!!</ion-card-subtitle>
      <ion-card-title>Lidl Store</ion-card-title>
      <ion-card-title>Pokemon Sun & Moon TCG</ion-card-title>
      <ion-card-title>Versi Indonesia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Penyedia Kartu Pokemon Sun & Moon dari Deck, Box, Pack, Card Terpisah, Dan Aksesoris</p>
    </ion-card-content>
  </ion-card>
</ion-content>